.outline{
  display: flex;
  background-color: #c3c3c3;
  color: black;
 }

 .items{
     margin: 3%;
 }
 .realoutline{
   outline: #ffffff;
   outline-style: auto;
 }

 .contain{
    width: 100%;
     margin:1%;
 }

 .inputFeilds{
     margin: auto;
     width: 100%;
     font-size: large;
     font-family: monospace;
 }

 .step{
   font-size: larger;
    font-style: italic;
    color:black;
    background-color: #CC9966;
 }

 .text{
     margin-top: auto;
     margin-bottom: auto;
 }

 .button{
      font-size: 16px;
     background-color: #6699CC;
     color: white;
     border: black;
     width: 300px;
     -webkit-transition-duration: 0.4s; /* Safari */
     transition-duration: 0.4s;
 }

.button:hover {
  background-color: #9999CC; 
  color: white;
}

 .font{
     font-size: unset;
     font-family: monospace;
 }

 body{
  background-color: black;
  color: white;
}

.loader {
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border: 8px solid #f3f3f3;
  border-top: 8px solid #9999CC;
  border-radius: 50%;
  animation: spin 2s linear infinite;
  padding: 10px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}